/* Noto Sans, Roboto fonts */
@import url('fonts/google-fonts.css');

body {
    margin: 0;
    font-size: 20px;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #7e6bc5;
    font-family: 'Noto Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    margin: 10px;
    padding: 10px;
    /* background-color: #c4caff; */
}

.content {
    max-width: 860px;
    margin: 0 auto;
}

.content .section img {
    border-radius: 8px;
}
.cat-page-header {
    color: #ffffff;
    background-color: #2b3441;
    background-image: url(images/gray-cat.jpg);
    background-size: cover;
    background-position: center center;
    height: 380px;
    border-radius: 8px;
}
.cat-page-header .header-title {
    color: #ffffff;
}

.types-of-images img {
    max-width: 200px;
}