/* Noto Sans, Roboto fonts */
@import url('fonts/google-fonts.css');

body {
    margin: 0;
    font-size: 20px;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #7e6bc5;
    font-family: 'Noto Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    margin: 10px;
    padding: 10px;
    /* background-color: #c4caff; */
}

.cat-page-header {
    color: #ffffff;
    background-color: #2b3441;
}
/* 
4 3 2 1
id element+class class element
*/

/* #CatHeaderTitle {
    color: lightseagreen;
}
.cat-page-header h1.header-title {
    color: lightcoral;
}
.cat-page-header h1 {
    color: orange;
}
h1 {
    color: white;
} */

/* .cat-page-header h1.header-title {
    color: lightcoral;
}*/

/* 
4  3             2     1
id element+class class element */
/* 2 4 */
.cat-page-header #CatHeaderTitle {
    color: red;
}
/* 4 */
#CatHeaderTitle {
    color: lightseagreen;
}
.cat-page-header h1.header-title {
    color: lightblue;
}
.cat-page-header .header-title {
    color: lightgoldenrodyellow;
} 
.cat-page-header h1 {
    color: white;
}



img {
    width: 100%;
    /* max-width: 560px; */
    height: auto;
}

