body {
    margin: 0;
    font-size: 20px;
}
p {
    font-size: 24px;
}
p {
    font-size: 30px;
}
div {
    margin: 10px;
    padding: 10px;
    /* background-color: #c4caff; */
}

.cat-page-header {
    background: #7badfc;
}

h1 {
    /* Pate Title */
    color: #372149;
    border-radius: 6px;
}

img {
    width: 100%;
    /* max-width: 560px; */
    height: auto;
}

