/* Utiliti Files */
.util_border-radius-8 {
    border-radius: 8px;
}

.photo-credits {
    color: #606060;
    font-weight: 100;
    font-size: 18px;
}

/* Rows and Collumns */
.row {
    margin: 0px -15px;
}
.row::after {
    display: block;
    content: "";
    clear: both;
}
.row .collumn {
    float: left;
    width: 50%;
    padding: 15px;
}