:root {
    --color-primary: lightcoral;
    --color-secondary: #483d8b;
    --color-secondary-300: #6054af;
    --color-secondary-100: lightskyblue;
    --color-gray-100: lightgray;
    --color-gray-300: #808080;
}